html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */   
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  margin: 0;
}

@font-face {
  font-family: 'Eina01';
  src: url('/src/fonts/Eina01-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GigaSans';
  src: url('/src/fonts/GigaSans.otf') format('truetype');
}
@font-face {
  font-family: 'GigaSans-Medium';
  src: url('/src/fonts/GigaSans-Medium.otf') format('truetype');
}


h1,h2,h3{
  margin: 0;
}

.title{
  font-family: 'Eina01';
}

.text, input, button{
  font-family: 'GigaSans';
}

span, .textBold{
  font-family: 'GigaSans-Medium';
}