html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */   
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  margin: 0;
}

@font-face {
  font-family: 'Eina01';
  src: url('src/fonts/Eina01-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'AlergiaWide';
  src: url('src/fonts/AlergiaWide-Regular.otf') format('truetype');
}

h1,h2,h3{
  margin: 0;
}

.title{
  font-family: 'Eina01';
}

.text{
  font-family: 'AlergiaWide';
  font-weight: lighter;
}