.otherOpc {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.otherOpc .text {
  color: var(--blanco);
  font-size: 1.3rem;
}

.otherOpc .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.otherOpc .cartContainer {
  position: relative;
}

.otherOpc .cartContainer .cartCounter{
  font-size: .8rem;
  position: absolute;
  left: 1.3rem;
  top: 0;
  background-color: var(--rojo);
  width: 1.2rem; /* Ajustar ancho */
  height: 1.2rem; /* Ajustar alto */
  text-align: center;
  line-height: 1.5rem; /* Igual al alto para centrar verticalmente */
  color: var(--blanco);
  border-radius: 50%;
}
.otherOpc .icon {
  color: var(--blanco);
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
}

.otherOpc .animationClose{
  animation: upMenu 0.2s ease-out forwards;
}

@keyframes upMenu {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
  }
  
}


.otherOpc .animationMenu{
  animation: downMenu 0.2s ease-out forwards;
}

@keyframes downMenu {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(0);
  }
  
}


@media screen and (max-width: 1000px) {
  .otherOpc {
    gap: 1rem;
  }

  .otherOpc .animationClose,
  .otherOpc .animationMenu{
    display: none;
  }

  .otherOpc .text {
    font-size: 1.1rem;
  }
}
