.header {
  background-color: var(--azul);
  padding: 0.5rem 2rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  z-index: 1;
}

.header .noShow {
  display: none;
}

.header .logoContainer {
  display: none;
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

.header .logoImg {
  width: 10.8rem;
}

.header .titleUbi {
  color: var(--blanco);
  padding-left: 1.1rem;
  font-size: 1.9rem;
  border-left: 0.1rem solid var(--blanco);
}

@media screen and (min-width: 1000px) {
  .header .noShowOnPc {
    display: none;
  }
}

@media screen and (max-width: 1000px) {

  .header .logoContainer {
    gap: 0.8rem;
  }

  .header .logoImg {
    width: 10rem;
  }

  .header .titleUbi {
    padding-left: 1rem;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 5.8rem;
  }

  .header .logoImg {
    width: 9rem;
  }

}
