.mainOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
}

.mainOptions .iconOpt {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.mainOptions .menu {
  display: none;
}

.mainOptions .icon {
  color: var(--blanco);
  width: 1.8rem;
  height: 1.8rem;
}

.mainOptions .text {
  color: var(--blanco);
  font-size: 1.3rem;
}

@media screen and (min-width: 1000px) {
  .mainOptions {
    gap: 2.5rem;
  }

  .mainOptions .iconOpt {
    padding: 1.5rem 0.2rem;
    border-bottom: 0.1rem solid var(--azul);
    transition: all 0.3s ease-in-out;
  }
  .mainOptions .iconOpt:hover {
    border-bottom: 0.1rem solid var(--blanco);
  }
}

@media screen and (max-width: 1000px) {
  .mainOptions {
    background-color: var(--azul);
    justify-content: space-around;
    padding: 1.5rem 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .mainOptions .iconOpt {
    flex-direction: column;
    gap: 0.4rem;
  }

  .mainOptions .menu {
    display: flex;
  }

  .mainOptions .icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .mainOptions .text {
    color: var(--blanco);
    font-size: 1.1rem;
  }
}
